* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}
html, body, #root {
  width: 100%;
  height: 100%;
  background: rgba(50,50,50,1);
}

.outerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#bannerDiv {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  display: flex;
  color: rgba(50,50,50,1);
  background: rgba(210,250,210,1);
  border-radius: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
  z-index: 5;
  button {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 90px;
    color: rgba(255,255,255,0.8);
    background-color: rgba(250,60,40,1);
  }
}
  header {
      font-size: 28pt;
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: 4pt;
      background: transparent;
  }

.mainContainer {
  width: 80%;
  height: 400px;
  margin-top: 100px;
  background: rgba(235,235,235,1);
  box-shadow: 5px 5px 10px rgba(0,0,0,.6);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

#loginBox {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / span 2 / 2;
  input {
    width: 150%;
    height: 50px;
  }
}
.loginButtons {
  grid-area: 4 / 2 / 4 / 2;
  width: 100%;
  height:20%;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
}
.innerBox {
  width: 95%;
  height: 95%;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.darkInner {
  color: rgba(255,255,255,0.8);
  background: rgba(0,0,0,.8);
  box-shadow: inset 2px 2px 15px rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
}
#introCard, #resultsCard {
  grid-area: 1 / 1 / span 5 / span 3;
  position: relative;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 10;
  button {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(250,60,40,1);
    color: rgba(255,255,255,0.8);
  }
}

#infoBox {
  grid-area: 1 / 1 / 1 / span 2;
  display: flex;
  justify-content: space-evenly;
}
#holdingsBox {
  grid-area: 2 / 1 / span 3 / span 2;
  margin: 0;
  width: 100%;
  border-radius: 0;
}
.holdings {
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;

}
#buttonBox {
  grid-area: 5 / 1 / 5 / span 2;
  button {
    width: 90px;
    color: rgba(255,255,255,0.8);
    background-color: rgba(250,60,40,1);
  }
}
#globalBox {
  grid-area: 1 / 3 / span 5 / 3;
  .stockItem {
    font-size: 12pt;
    margin: 8pt;
  }
}
#innerStockBox {
  grid-area: 1 / 3 / span 5 / 3;
  align-items: center;
  padding-top: 15pt;
  p {
    margin-bottom: 15px;
    font-size: 15pt;
  }
  .buyBtn {
    font-size: 0.8em;
    background: none;
    border: none;
    color: rgba(245,245,245,1);
    width: auto;
    height: auto;
    margin: 15px;
  }
  #commitBtn {
    width: 80px;
    height: 40px;
    font-size: 0.78em;
    color: rgba(255,255,255,0.8);
    background-color: rgba(250,60,40,1);
  }
}

button {
  width: 80px;
  height: 40px;
  font-size: 0.78em;
  background: rgba(245,245,245,1);
  color:rgba(50,50,50,1);
  cursor: pointer;
}

input {
  width: 90%;
  height: 15%;
  background: white;
  color:rgba(50,50,50,1);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.4); 
  border-radius: 10px;
  margin: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(210,250,210,1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}

*:focus {
  outline: none;
}
#response {
  color: darkred;
}
.hidden {
  visibility: hidden;
}